<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	@Styles.Render("~/Content/DevExtremeBundle")
	
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/Scripts/DevExtremeBundle")

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Context.Session.Count == 0)
                {
                    @Html.ActionLink("Aquila ERP / MES", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    @Html.ActionLink(@Html.Encode(Context.Session["CHNL_NM"]), "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Context.Session.Count == 0)
                    {
                        <li>@Html.ActionLink("홈", "Index", "Home", new { area = "" }, null)</li>
                        @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                    }
                    else
                    {
                        <li>@Html.ActionLink("원재료 매입등록", "Index", "PurReg", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("LOT별 재고현황", "Situation", "PurReg", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("설비 통합 모니터링", "Equipment", "PurReg", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("원료 투입", "MaterialInput", "PurReg", new { area = "" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aquila ERP  MES</p>
        </footer>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
